<head>
  <title>Block Miner</title>
<!--  <meta http-equiv="refresh" content="10">-->
</head>

<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link rel="stylesheet" href="stylesheet.css" type="text/css" />

<div class="container">
  <div class="header">
    <div class="title">
      <h1>Block Miner</h1>
    </div>
    <div class="head_links">
      <div class="balance">
        <p>Balance:</p>
        <%= @blockchain.balance %> BKH
      </div>
      <div class="mine">
        <div class="mine_button_div">
          <form method="post" action="/block" id="mine_button">
            <input class='btn btn-primary' type='submit' value='Mine Block'>
          </form>
        </div>
      </div>
    </div>
  </div>
  <% if flash[:notice] %>
    <div class="flash_message">
      <%= styled_flash %>
    </div>
  <% end %>
  <div class="content">
    <div class="list_blocks">
      <h2>Latest Blocks</h2>
      <table id="blocks">
        <tr>
          <th id="block_header">Block Hash</th>
          <th id="block_header">Previous Block Hash</th>
          <th>Transactions</th>
          <th>Mined</th>
        </tr>
        <% unless @blockchain.blocks.empty? %>
          <% @blockchain.blocks.each_with_index do |block, index| %>
            <tr>
              <td>
                <a href="/transaction/<%= index %>" id="hash_link"><%= block.hash %></a>
              </td>
              <% if index == 0 %>
                <td>N/A</td>
              <% else %>
                <td><%= block.previous_hash %></td>
              <% end %>
              <% if index == 0 %>
                <td id="td_center"><%= 0 %></td>
              <% else %>
                <td id="td_center"><%= block.transactions.length %></td>
              <% end %>
              <td id="td_center"><%= DateTime.parse(block.timestamp.to_s).strftime("%H:%M:%S") %></td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
    <div class="list_transactions">
      <h2>Unverified Transactions</h2>
      <table id="transactions">
        <tr>
          <th id="transaction_list_hash">Transaction Hash</th>
          <th id="transaction_list_hash">Purchaser Address</th>
          <th id="transaction_list_hash">Vendor Address</th>
          <th id="transaction_list_hash">Ticket Information</th>
          <th>Cost</th>
          <th>Time</th>
        </tr>
        <% unless @blockchain.unverified_transactions.empty? %>
          <% @blockchain.unverified_transactions.reverse.each { |transaction| %>
            <tr>
              <td><%= transaction[:hash] %></td>
              <td><%= transaction[:sender] %></td>
              <td><%= transaction[:receiver] %></td>
              <td><%= transaction[:name] %></td>
              <td id="td_center"><%= transaction[:value] %></td>
              <td id="td_center"><%= DateTime.parse(transaction[:time].to_s).strftime("%H:%M:%S") %></td>
            </tr>
          <% } %>
        <% end %>
      </table>
    </div>
  </div>
  <div class="footer"></div>
</div>
